* {
    box-sizing: border-box;
    margin: 0 auto;
}


h1, h2, h3, p {
    font-family: "Poppins", sans-serif;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

p {
    color: gray;
}

section {
    background-color: #0a0c1b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardcontainer {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: flex;
}

.cardcontainer > * {
    flex: 1 1 50%;
}

.leftcontent {
    background-color: #1a1836;
    padding: 4em 4em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
}

.violet-text {
    color: #9d62cd;
}

.top p {
    margin-top: 2em;
    margin-bottom: 4em;
}

.bottom {
    display: flex;
}

.bottom >* {
    flex: 1 1 33.33%;
}

.bottom p {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
}

.rightcontent  {
    
}

.right-content img {
   
}
